name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: sudo apt-get install doxygen
      run: sudo apt-get install doxygen
    - name: make docs
      run: make docs
    - name: make all
      run: make
